RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ public/index.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . public/index [L]


#<Files *.js>
#    php_value  default_mimetype "application/x-javascript"
#</Files>

#AddType application/x-httpd-php .php .js

php_value short_open_tag 0